* {
    background-color: transparent;
    font-family: "Gilroy-Medium"
}

main {
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.grid-item .cover {
    width: 100%;
    height: 100%;
} 
.grid-item .inner {
    width: 100%;
    height: 100%;
}
.grid-item .content {
    width: 100%;
    height: 100%;
}

  .grid-container  {
    height: calc(50vw*0.8); 
    max-height: 1000px;
  }
  
  .grid-container  {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

.grid-logo {
    height: 70px;
}

.grid-container .logo {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.grid-container .logo {
  width: 100%;
  height: 100%;
  text-align: center;
  perspective: 1000px;
}

.logo-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.logo .cover {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .logo:hover .logo-inner {
    transform: rotateX(180deg);
}

.logo .cover, .logo .content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.logo .content {
    background-color: white;
    transform: rotateX(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: blue;
    color:white
}

.grid-container .qa {
    grid-column: 1 / 5;
    grid-row: 5 / 9;
}

.qa {
  width: 100%;
  height: 100%;
  text-align: center;
  perspective: 1000px;
}

.qa-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.qa .cover {
    background-color: lightgreen;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa:hover .qa-inner {
    transform: rotateY(180deg);
}

.qa .cover, .qa .content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.qa .content {
    background-color: white;
    transform: rotateY(180deg);
}

.grid-container .js {
    grid-column: 5 / 9;
    grid-row: 1 / 7;
}

.js .cover {
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 70px;
    font-weight: bold;
    color: black;
}

.js:hover .js .content{
    transition: 1s;
    left: 0;
}

.grid-container .java {
    grid-column: 5 / 9;
    grid-row: 7 / 9;
}

.java .cover {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.grid-container .php {
    grid-column: 9 / 17;
    grid-row: 1 / 4;
}

.php .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 80px;
    font-style: italic;
    background-color: lavender;
}

.grid-container .dot-net {
    grid-column: 9 / 14;
    grid-row: 4 / 9;
}

.dot-net .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 90px;
    background-color: darkorchid;
}

.grid-container .events {
    grid-column: 14 / 17;
    grid-row: 4 / 6;
}

.grid-container .events .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color:lightblue;
}

.grid-container .blog {
    grid-column: 14 / 17;
    grid-row: 6 / 8;
}

.blog .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: blue;
}

.grid-container .contacts {
    grid-column: 14 / 17;
    grid-row: 8;
}

.contacts .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: darkblue;
}
