
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: inherit;
    font-family: "Gilroy-Medium"
}

html,
body {
    background-color:rgb(173, 216, 230, .1);
    height: 100%;
}

div, a, label, input, span, i, ul, li, h {
    background-color: inherit;
}

header {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-animate {
    animation: slide-down;
    animation-duration: 2s;
}

.header .logo {
    height: 35px;
}

.menu-bar {
    height: 30px;
    width: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bell {
    color: lightgray;
}

.fa-bell:hover {
    color: gray;
}

.ck-button {
    background-color: goldenrod;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    overflow:auto;
    /* text-align: center; */
}

.ck-button:hover {
    background-color: darkgoldenrod;
}

.ck-button label {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.ck-button label span {
    color: white;
    font-size: 20px;
}

.ck-button label input {
    position: absolute;
    top: -20px;
    opacity: 0;
}

.menu {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
    margin: 5px;
    padding: 15px;
    padding-bottom: 5px;
    width: max-content;
    height: max-content;
    opacity: 0;
    background: white;
    box-shadow: 0px 0px 20px 0px rgb(114, 114, 114);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ck-button input:checked ~ .menu {
    opacity: 1;
    z-index: 2;
}

.menu .user-name {
    margin-bottom: 3px;
}

.grey {
    color: silver
}

.menu ul {
    margin: 5px;
    list-style: none;
    color: black;
    text-decoration: none;
}

.menu li {
    color: #000;
    height: 25px;
    padding: 4px;
}

.menu li:hover {
    background-color: rgb(173, 216, 230, .1);
}

footer {
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: transparent;
}

.content {
    background-color: transparent;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
    align-self: center;
    margin-bottom: 1%;
    background-color: transparent;
}

@keyframes slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }